In [4]:
import numpy as np

In [7]:
import pandas as pd
dp=pd.read_csv('/home/user/Downloads/MLlab2/transactions.csv')

In [9]:
#Print Summary of transaction data set
dp.info

<bound method DataFrame.info of    TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4>

In [11]:
#Print Numbers of Attributes
import numpy as np

# Assume 'data' is your NumPy array
num_attributes = dp.shape[1]  # Number of columns
print("Number of attributes:", num_attributes)

Number of attributes: 5

In [11]:
#. Print Numbers of Records
import pandas as pd
dp=pd.read_csv('/home/user/Downloads/MLlab2/transactions.csv')
# Load the dataset
  # Replace with your actual dataset

# Get the number of records (rows)
num_records = dp.shape[0]

print("Number of records:", num_records)

Number of records: 10

In [15]:
#Get the row names
print(dp.iloc[0])

TransactionID               1
TransactionDate    2010-08-21
UserID                    7.0
ProductID                   2
Quantity                    1
Name: 0, dtype: object

In [17]:
#Get the column names
column_names = dp.columns.tolist()
print("Column names:", column_names)

Column names: ['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity']

In [15]:
#View top 10 Records
num_records = dp.shape[1]

print("Number of records:", num_records)

Number of records: 5

In [21]:
#Change the name of column “ Quantity” to “Quant”
dp.rename(columns={'Quantity':'Quant'})

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [23]:
#Change the name of columns ProductID and UserID
dp.rename(columns={'ProductID':'pid'})
dp.rename(columns={'UserID':'Uid'})

   TransactionID TransactionDate  Uid  ProductID  Quantity
0              1      2010-08-21  7.0          2         1
1              2      2011-05-26  3.0          4         1
2              3      2011-06-16  3.0          3         1
3              4      2012-08-26  1.0          2         3
4              5      2013-06-06  2.0          4         1
5              6      2013-12-23  2.0          5         6
6              7      2013-12-30  3.0          4         1
7              8      2014-04-24  NaN          2         3
8              9      2015-04-24  7.0          4         3
9             10      2016-05-08  3.0          4         4

In [23]:
#Order the rows of transactions by TransactionId descending, if ascending then ascending=True
df_sorted = dp.sort_values(by=["TransactionID","TransactionID"],ascending=[True, False])
print(df_sorted.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

In [27]:
#Make UserID the first column of transactions
df = pd.DataFrame(dp)


df = dp[['UserID'] + [col for col in df.columns if col != 'UserID']]

print(df)

   UserID  TransactionID TransactionDate  ProductID  Quantity
0     7.0              1      2010-08-21          2         1
1     3.0              2      2011-05-26          4         1
2     3.0              3      2011-06-16          3         1
3     1.0              4      2012-08-26          2         3
4     2.0              5      2013-06-06          4         1
5     2.0              6      2013-12-23          5         6
6     3.0              7      2013-12-30          4         1
7     NaN              8      2014-04-24          2         3
8     7.0              9      2015-04-24          4         3
9     3.0             10      2016-05-08          4         4

In [55]:
#13. Extracting arrays from a Data Frame. Get the 2nd column
df = pd.DataFrame(dp)

second_column = df.iloc[:,1].values  # or df[df.columns[1]].values

print(second_column)

['2010-08-21' '2011-05-26' '2011-06-16' '2012-08-26' '2013-06-06'
 '2013-12-23' '2013-12-30' '2014-04-24' '2015-04-24' '2016-05-08']

In [31]:
#14. Get the ProductID Array
print(dp['ProductID'])

0    2
1    4
2    3
3    2
4    4
5    5
6    4
7    2
8    4
9    4
Name: ProductID, dtype: int64

In [37]:
#Get the ProductId array using the following variable
#Data Mining Lab Manual AY:19-20 Page 5
import pandas as pd

df = pd.DataFrame(dp)
product_id_array = df['ProductID'].values  # Extract as NumPy array

print(product_id_array)

[2 4 3 2 4 5 4 2 4 4]

In [39]:
#16.Row subsetting, subset rows 1,3 and 6
subset_rows = df.iloc[[1, 3, 6]]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
1              2      2011-05-26     3.0          4         1
3              4      2012-08-26     1.0          2         3
6              7      2013-12-30     3.0          4         1

In [41]:
#17subset rows excluding 1,3 and 6
columns_to_exclude = df.iloc[[1,3,6]]
subset_columns_excluded = df[[col for col in df.columns if col not in columns_to_exclude]]
print(subset_columns_excluded)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
#18. Subset the first three rows
df = pd.DataFrame(dp)

# Subsetting the first three rows
subset_df = df.iloc[:3]

print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1

In [45]:
#19. Subset the last 2 rows
df = pd.DataFrame(dp)

# Subsetting the last 2 rows
subset_df = df.iloc[-2:]  # or df.tail(2)

print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [47]:
#20. Subset rows excluding the last 2 rows
df = pd.DataFrame(dp)

# Subsetting rows excluding the last 2 rows
subset_df = df.iloc[:-2]  # or df.head(len(df) - 2)

print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3

In [49]:
#21. Subset rows excluding the first 3 rows
df = pd.DataFrame(dp)

# Subsetting rows excluding the last 2 rows
subset_df = df.iloc[3:]  # or df.head(len(df) - 2)

print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [51]:
#22. Subset rows where Quantity>1
subset = df[df['Quantity'] > 1]
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [53]:
#23Subset rows where UserID=2
subset = df[df['UserID']==2]
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6

In [55]:
#24. Subset rows where Quantity>1 and UserID=2
subset = df[(df['UserID'] == 2) & (df['Quantity'] > 1)]

print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6

In [57]:
#25. Subset rows where Quantity + UserID is >3
subset = df[(df['UserID'] > 3) & (df['Quantity'] > 3)]

print(subset)

Empty DataFrame
Columns: [TransactionID, TransactionDate, UserID, ProductID, Quantity]
Index: []

In [59]:
#26. Subset rows where an external array, foo, is True

df=pd.DataFrame(dp)
foo = [True, False, True, False,True,False,True,True,False,True,] # Example of a boolean array
subset_rows = df[foo]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
9             10      2016-05-08     3.0          4         4

In [61]:
#27. Subset rows where an external array, bar, is positive
df = pd.DataFrame(dp)

# External array (same length as df)
bar = np.array([1, -1, 3, -2, 5,1,-2,4,2,-4])  # Positive values at indices 0, 2, and 4

# Subset rows where 'bar' is positive
subset_df = df[bar > 0]

print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3

In [63]:
#28. Subset rows where foo is TRUE or bar is negative
df=pd.DataFrame(dp)
foo = [True, False, True, False,True,False,True,True,False,True,] # Example of a boolean array
bar = np.array([1, -1, 3, -2, 5,1,-2,4,2,-4])  
subset_df = df[(bar < 0) | foo]
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
9             10      2016-05-08     3.0          4         4

In [65]:
#29. Subset the rows where foo is not TRUE and bar is not negative
df=pd.DataFrame(dp)
foo = [True, False, True, False,True,False,True,True,False,True,] # Example of a boolean array
bar = np.array([1, -1, 3, -2, 5,1,-2,4,2,-4])  
subset_df = df[(bar > 0) | (~np.array(foo))]
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3

In [67]:
#30. Subset by columns 1 and 3
df = pd.DataFrame(dp)

# Subsetting by columns 1 (index 0) and 3 (index 2)
subset_df = df.iloc[:, [0, 2]]  # Using column indices

print(subset_df)

   TransactionID  UserID
0              1     7.0
1              2     3.0
2              3     3.0
3              4     1.0
4              5     2.0
5              6     2.0
6              7     3.0
7              8     NaN
8              9     7.0
9             10     3.0

In [69]:
#31. Subset by columns TransactionID and TransactionDate
columns_to_select = ['TransactionID', 'TransactionDate']
subset_columns = df[columns_to_select]
print(subset_columns)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [71]:
#32. Subset by columns TransactionID and TransactionDate with logical operator

df = pd.DataFrame(dp)

# Subset where TransactionID > 100 AND TransactionDate is after '2024-01-01'
subset_df = df[(df["TransactionID"] > 100) & (df["TransactionDate"] > "2024-01-01")]

print(subset_df)

Empty DataFrame
Columns: [TransactionID, TransactionDate, UserID, ProductID, Quantity]
Index: []

In [73]:
#33. Subset columns by a variable list of column names
columns_to_select = ['TransactionID', 'TransactionDate']
subset_columns = df[columns_to_select]
print(subset_columns)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [57]:
#34. Subset columns excluding a variable list of column names
columns_to_exclude = ['Quantity', 'ProductID']
subset_columns_excluded = df[[col for col in df.columns if col not in columns_to_exclude]]
print(subset_columns_excluded)

   TransactionID TransactionDate  UserID
0              1      2010-08-21     7.0
1              2      2011-05-26     3.0
2              3      2011-06-16     3.0
3              4      2012-08-26     1.0
4              5      2013-06-06     2.0
5              6      2013-12-23     2.0
6              7      2013-12-30     3.0
7              8      2014-04-24     NaN
8              9      2015-04-24     7.0
9             10      2016-05-08     3.0

In [77]:
#35. Inserting and updating values
df = pd.DataFrame(dp)
df.loc[len(df)] = [1,'2011-03-27',9.0,2,3]
df

    TransactionID TransactionDate  UserID  ProductID  Quantity
0               1      2010-08-21     7.0          2         1
1               2      2011-05-26     3.0          4         1
2               3      2011-06-16     3.0          3         1
3               4      2012-08-26     1.0          2         3
4               5      2013-06-06     2.0          4         1
5               6      2013-12-23     2.0          5         6
6               7      2013-12-30     3.0          4         1
7               8      2014-04-24     NaN          2         3
8               9      2015-04-24     7.0          4         3
9              10      2016-05-08     3.0          4         4
10              1      2011-03-27     9.0          2         3

In [79]:
#36. Convert the TransactionDate column to type Date
df.rename(columns={'TransactionDate':'typeDate'},inplace=True) 
print(df)

    TransactionID    typeDate  UserID  ProductID  Quantity
0               1  2010-08-21     7.0          2         1
1               2  2011-05-26     3.0          4         1
2               3  2011-06-16     3.0          3         1
3               4  2012-08-26     1.0          2         3
4               5  2013-06-06     2.0          4         1
5               6  2013-12-23     2.0          5         6
6               7  2013-12-30     3.0          4         1
7               8  2014-04-24     NaN          2         3
8               9  2015-04-24     7.0          4         3
9              10  2016-05-08     3.0          4         4
10              1  2011-03-27     9.0          2         3

In [81]:
#37. Insert a new column, Foo=UserID+ProductID
df['Foo'] = df['UserID'] + df['ProductID']
df

    TransactionID    typeDate  UserID  ProductID  Quantity   Foo
0               1  2010-08-21     7.0          2         1   9.0
1               2  2011-05-26     3.0          4         1   7.0
2               3  2011-06-16     3.0          3         1   6.0
3               4  2012-08-26     1.0          2         3   3.0
4               5  2013-06-06     2.0          4         1   6.0
5               6  2013-12-23     2.0          5         6   7.0
6               7  2013-12-30     3.0          4         1   7.0
7               8  2014-04-24     NaN          2         3   NaN
8               9  2015-04-24     7.0          4         3  11.0
9              10  2016-05-08     3.0          4         4   7.0
10              1  2011-03-27     9.0          2         3  11.0